<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Cars Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
       Olá! Seja bem vindo ao sistema que consome uma api relacionado a carros e usuarios.<br />
       Esse é um sistema desenvolvido em Angular e Springboot<br />
       O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
       Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
       <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
       <br /> At.te: Artur Tarcísio
      </p>
    </mat-card-content>
  </mat-card>