<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Cars Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
     Hello! Welcome to the system that consumes an API related to cars and users.<br />
     This is a system developed in Angular and Spring Boot.<br />
     The main objective of the project is to cover the concepts of SPAs, Authentication and Authorization with JWT Tokens, and much more. The source code of the project can be accessed by clicking on the Github link in the side menu.
     <br /><br /> Feel free to test the system and leave your suggestion.
     <br /> Sincerely: Artur Tarcísio
    </p>
  </mat-card-content>
</mat-card>