<div class="container">
    <form class="form mat-elevation-z8"> 
       
        <img src="../../../assets/imglogin.webp" alt="Imagem de login"> 
       
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Login</mat-label>
          <input 
            [formControl]="login"
            [(ngModel)]="loginRequest.login" 
            name="login" 
            matInput 
            placeholder="Login">
          <mat-icon matSuffix>login</mat-icon>
       </mat-form-field>
 
       <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input 
            [formControl]="password"
            required
            [(ngModel)]="loginRequest.password" 
            name="password" 
            type="password" 
            matInput placeholder="*********">
          <mat-icon matSuffix>password</mat-icon>
       </mat-form-field>
 
    <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z8" mat-stroked-button color="primary">Login</button>

    <div class="register-link-container">
      <p class="register-text">Don't have an account?</p>
      <a routerLink="/register" class="register-link">Register here</a>
    </div>
    </form>
 
 </div>