<div class="container">
    <form class="form mat-elevation-z8"> 
       
        <img src="../../../assets/imglogin.webp" alt="Imagem de login"> 
       
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login">
          <mat-icon matSuffix>login</mat-icon>
       </mat-form-field>
 
       <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="*********">
          <mat-icon matSuffix>password</mat-icon>
       </mat-form-field>
 
    <button class="full-width mat-elevation-z8" mat-stroked-button color="primary">Login</button>
       
    </form>
 
 </div>