<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Api users cars</mat-card-title>
      <mat-card-subtitle>Dicas de um DEV</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
              <h2>Whats up! I am Artur! 👋</h2>          
              <div style="display: inline-block; text-align: center; width: 100%;">
                <a href="https://github.com/arturtarcisio" style="text-decoration: none;">
                  <img height="50em" src="https://github-readme-stats.vercel.app/api?username=arturtarcisio&show_icons=true&theme=dracula&include_all_commits=true&count_private=true" alt="GitHub Stats" style="max-width: 100%;"/>
                  <img height="180em" src="https://github-readme-stats.vercel.app/api/top-langs/?username=arturtarcisio&layout=compact&theme=dracula" alt="Top Languages" style="max-width: 100%;"/>
                </a>
              </div>          
              <div>
                <h3>About me</h3>
                <ul>
                  <li>👨‍💻 Software developer.</li>
                  <li>👨‍🎓 Graduated in information systems at Estácio de Sá do Recife (Bachelor).</li>
                  <li>🎯 Interest: Java, Kotlin, Spring Boot, Quarkus, API, Micro-services, Angular, AWS e Docker.</li>
                  <li>📌 Professional experience with: Java (17, 11, 1.6, 1.7), Springboot, rabbitmq, react, EJB, maven, servlet, jsp, JDBC, JPA, DB2, OracleDB, MySql, Postgresql, git (GitLab), GitFlow, scrum, websphere e jboss.</li>
                </ul>
              </div>          
              <div>
                <h3>My main skills 😎</h3>
                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                  <img alt="Artur-java" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" style="margin: 10px;">
                  <img alt="Artur-spring" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg" style="margin: 10px;">
                  <img alt="Artur-git" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" style="margin: 10px;">
                  <img alt="Artur-gitlab" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/gitlab/gitlab-original.svg" style="margin: 10px;">
                  <img alt="Artur-mysql" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" style="margin: 10px;">
                  <img alt="Artur-postgresql" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original.svg" style="margin: 10px;">
                  <img alt="Artur-typescript" height="50" width="90" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg" style="margin: 10px;">
                </div>
              </div>          
              <br>
          
     </mat-card-content>
</mat-card>